.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  padding: 3rem;
  width: min-content;
  height: min-content;
  min-width: 450px;
  background-color: blanchedalmond;
  border-radius: 10px;
}

.modal-content :is(.form-input, .form-button) {
  height: 3rem;
  text-align: center;
}

.modal-content .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content .form > * {
  width: 60vw;
  min-width: calc(450px - 6rem);
  max-width: 35rem;
  margin: 20px 0;
}

@media screen and (max-height: 750px) {
  .modal-content {
    height: 100vh;
    width: 100vw;
    border-radius: 0;
  }

  .form-input.short.cancel {
    display: initial;
  }
}
