.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  padding: 3rem;
  width: min-content;
  height: min-content;
  background-color: white;
  border-radius: 10px;
}


.modal-content .form-input {
  height: 3em;
  text-align: center;
  margin: 5px 0;
}

.modal-content .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 650px){
  .modal-content {
    width: 100vw;
  }

  .modal-content .form {
    width: 100%;
  }

  .modal-content :is(.form-input, .form-button-container) {
    width: 80%;
  }
}
